.bg{
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

.card{
    border-radius: 20px;
    background-color: antiquewhite;
}
/* Login Pages */

.des{
    font-size: 15px;
}
.style{
    transform: perspective(100px)translateY(80px);
}
.style1{
    transform: perspective(100px)translateY(80px);
}

/* register page */

.res1{
    transform: perspective(100px)translateY(80px);
}

/* welcome page */

.wel{
    transform: perspective(100px)translateY(80px);
}


/* Todos page */
.st{
    background-color: indigo;
}
.des1{
    transform: translateY(64px);
    background-color: indigo;
    color: white;
}
.st1{
    background-color: transparent;
    color: white;
    border: none;
    width: 250px;
    transform: perspective(100px)translateX(20px);
}
.st2{
    color: white;
    margin-top: -5px;
    font-size: 20px;
}
.st3{
    margin-top: 100px;
}
.st4{
    color: white;
}


.mod{
    transform: translateX(-350px);
}
.dd{
    padding: 10px;
}
.dd1{
    font-size: 20px;
    margin-left: 20px;
}
.dd2{
    margin-top: -30px;
}
.dd3{
    font-size: 25px;
    color: black;
}

.pp{
    color: white;
}